<% if @user.errors.any? %>
  <div class="alert alert-danger text-center" role="alert">
      <%= @user.errors.full_messages.join(', ') %>
  </div>
<% end %>
<div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 mt-4">
  <div class="card">
    <!-- Card content -->
    <div class="card-body">
      <h4 class="card-title text-center">Sign Up</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="md-form indigo-text">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          <%= f.label :email, class: "font-weight-light" %>
        </div>
        <div class="md-form indigo-text">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <%= f.label :password, class: "font-weight-light" %>
        </div>
        <div class="md-form indigo-text">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          <%= f.label :password_confirmation, class: "font-weight-light" %>
        </div>
        <div class="text-center mt-4">
          <%= f.submit "Sign Up", class: 'btn btn-indigo' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-4 text-center indigo-text">
    <%= render "devise/shared/links" %>
  </div>
</div>
