<div class="mh-100" style="width: 100vw; height: 100vh; background-color: #eee;background-image: url('https://mdbootstrap.com/img/Photos/Others/images/89.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="pt-5 col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 mt-1">
  <div class="card">
    <!-- Card content -->
    <div class="card-body" style="mt-3">
      <h4 class="card-title text-center">Log In</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="md-form indigo-text">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          <%= f.label :email %>
        </div>
        <div class="md-form indigo-text">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <%= f.label :password %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-check indigo-text">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end -%>
        <div class="text-center mt-4">
          <%= f.submit "Log in", class: 'btn btn-indigo' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-4 text-center indigo-text">
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>